body{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: auto;
    margin: 0;
    grid-template-areas: 
    "nav nav nav nav "
    "main main main main";
}
/*grid template set*/
nav {
    background-color: #fff;
    grid-area: nav;
   }
   nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
   }
   nav > ul > li{
    position: relative;
   }
   nav li a:hover{
    color: white;
    text-decoration: underline;
    background-color: #58a48d;
    border-radius: 20%;
}
/*navigation bar set*/
.home1{
    color: #233270;
    animation: move 6s ease-in forwards;
}
@keyframes move {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    25%{
        transform: translate(80vw,0);
        opacity: 100%;
        
    }

    50% {
        transform: translate(80vw, 70vh);
        
        
        
    }
    75% {
        transform: translate(0, 70vh);
        
        
        
    }
    100% {
        transform: translate(5vw, 0);
        font-size: 10em;
        color: #233270;
        
        
    }


}
/*keyframe for my h1 set*/
.home2{
    opacity: 0;
    animation: change 6s ease-in forwards ;
}
@keyframes change {
    0% {
        transform: translate(0, 0);
    }

    25%{
        transform: translate(70vw,0);
        opacity: 0;
        
    }

    50% {
        transform: translate(70vw, 70vh);
        opacity: 0;
        
        
    }
    75% {
        transform: translate(0, 70vh);
        opacity: 0;
        
        
    }
    100% {
        transform: translate(5vw, 0vh);
        font-size: 5em;
        color: #233270;
        opacity: 100%;
        
        
    }


}
/*keyframe for p tag in home page*/
.csslogo{
    animation: fadein 6s ease-in forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100%;
        
    }
}
.htmllogo{
    animation: fadein 6s ease-in forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100%;
        
    }
}
.javalogo{
    animation: fadein 6s ease-in forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100%;
        
    }
}
/*keyframe for images set*/

.csslogo{
    width: 10em;
    height: 10em;
    margin-left: 60em;
    margin-top: 10em;
    position: fixed;
}
.htmllogo{
    width: 10em;
    height: 10em;
    margin-left: 45em;
    margin-top: 10em;
    position: fixed;
}
.javalogo{
    width: 12em;
    height: 12em;
    margin-left: 32em;
    margin-top: 10em;
    position: fixed;
    
}
/*image details set*/