body{
    display: grid;
    grid-template-columns:25% 25% 25% 25% ;
    grid-template-rows: auto;
    margin: 0;
    grid-template-areas: 
    "nav nav nav nav "
    "main main main main"
    "nasa cia ms ms";
}
/*grid template set*/
nav {
    background-color: #fff;
    grid-area: nav;
   }
   nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
   }
   nav > ul > li{
    position: relative;
   }
   nav li a:hover{
    color: white;
    text-decoration: underline;
    background-color: #58a48d;
    border-radius: 20%;
}
#clicked .off {display: none;}
/*my X sign kept showing on my desktop so did this to hide it */

.port{
    color: #233270;
    font-size: 5em;
    margin: 0;
    text-align: center;
}
section{
    margin-top: 8em;
    margin-left: 12em;
    animation: fadein 4s ease-in forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100%;
        
    }
}
.nasalogo{
    grid-area: nasa;
    width: 20em;
    height: 10em;
    z-index: 1;
}
.cialogo{
    grid-area: cia;
    width: 10em;
    height: 10em;
    z-index: 1;
    margin-top: 5mm;
    margin-left: 5em;
}
.mslogo{
    grid-area: ms;
    width: 20em;
    height: 10em;
    z-index: 1;
}
.s1{
    grid-area: nasa;
    width: 20em;
    height: 25em;
    border: solid;
    color: #ffffff;
    z-index: 0;
}
.s2{
    grid-area: cia;
    width: 20em;
    height: 25em;
    border: solid;
    color: #ffffff;
    
    z-index: 0;
}
.s3{
    grid-area: ms;
    width: 20em;
    height: 25em;
    border: solid;
    color: white;
    
    z-index: 0;
}
