main{
    grid-area: main;
}
h1{
    font-family: "Arial Rounded MT Bold", sans-serif;
}
p{
    font-family: "Arial Rounded MT Bold", sans-serif;
}
html{
    background: url(back.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav li a{
    color: #233270;
    text-decoration: none;
}
h2{
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

h3{
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: #233270;
}

