main{
    grid-area: main;
}
h1{
    color: #ffff;
}
p{
    color: #dedede;
}
html{
    background-color: #2b6777;
}
nav li a{
    color: black;
    text-decoration: none;
}
nav li a:hover{
    color: #2b6777;
    text-decoration: underline;
}