main{
    grid-area: main;
}
h1{
    font-family: "Arial Rounded MT Bold", sans-serif;
}
p{
    font-family: "Arial Rounded MT Bold", sans-serif;
}
html{
    background: url(back.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}
nav li a{
    color: #233270;
    text-decoration: none;
}
.csslogo{
    width: 10em;
    height: 10em;
    margin-left: 60em;
    margin-top: 10em;
    position: fixed;
}
.htmllogo{
    width: 10em;
    height: 10em;
    margin-left: 45em;
    margin-top: 10em;
    position: fixed;
}
.javalogo{
    width: 12em;
    height: 12em;
    margin-left: 32em;
    margin-top: 10em;
    position: fixed;
    
}
/*image details set*/
/* css that applies to both desktop and mobile*/

