main{
    grid-area: main;
}
h1{
    font-family: Verdana, sans-serif;
}
p{
    font-family: Verdana, sans-serif;
}
html{
    background-color: #2b6777;
}
nav li a{
    color: black;
    text-decoration: none;
}
