main{
    grid-area: main;
}
h1{
    font-family: "Arial Rounded MT Bold", sans-serif;
}
p{
    font-family: "Arial Rounded MT Bold", sans-serif;
}
html{
    background: url(back.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}
nav li a{
    color: #233270;
    text-decoration: none;
}


