body {
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 65% 30%;
    height: 100vh;
    margin: 0;
    left: 80%;
    grid-template-areas: 
    "header"
    "main";
    }
    .shownav {
        height: 0.3em;
        width: 1.25em;
        display: block;
         border-top: 0.2em solid white;
        border-bottom: 0.2em solid white;
        }
        .shownav:before {
            content: '';
             position: absolute;
             width: 1.25em;
             top: 1em;
             border-top: 0.2em solid #fff;
            }
            nav ul{
                list-style-type: square;
            }
            nav {
                display: none;
                background-color: #ffffff;
                position: fixed;
                top: 0;
                left: 50%;
                width: 50%;
                height: 100vh;
                z-index: 2;
               }
               /*
When the target isn't set, hide the "off"
button and show the "on" button
*/
#clicked .shownav {display: block;}
#clicked .off {display: none;}
/*
When the target is set, hide the "on"
button and show the "off" button
*/
#clicked:target .shownav {display: none;}
#clicked:target .off {display: block;}
#clicked:target nav {display: block;}

.home1{
    color: #233270;
    font-size: 5em;
    text-align: center;
    animation: fadein 4s ease-in forwards;
}
.home2{
    color: #233270;
    font-size: 3em;
    text-align: center;
    animation: fadein 4s ease-in forwards;
}
section{
    grid-area: section;
    margin-left: 4em;
    animation: fadein 4s ease-in forwards;
}
.csslogo{
    display: none;
}
.htmllogo{
    display: none;
}
.javalogo{
    display: none;
}
/*image details set*/


form{
    display: grid;
    width: 20em;
    grid-auto-columns: 100%;
    margin-left: 2em;
    animation: fadein 4s ease-in forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100%;
        
    }
}
input {
    
    border: 2px solid #233270;
    border-radius: 8em;
    color: #555;
    }
    
.contact{
    color: #233270;
    text-align: center;
    font-size: 2em;
    margin: 0;
}  
.site{
    color: #233270;
    text-align: center;
    font-size: 2em;
} 
.area{
    margin-top: 2em;
    height: 20em;
    border: 2px solid rgb(0, 0, 0);
    color: #555;
}
.area2{
    margin-top: 2em;
}
.link{
    height: 5em;
    width: 5em;
    animation: fadein 4s ease-in forwards;
}
.git{
    height: 5em;
    width: 5em;
    margin-left: 2em;
    animation: fadein 4s ease-in forwards;
}
nav li:nth-child(odd) {
    background-color: #c7c7c7;
   }

   .p1{
    color: #000000;
}
.web1{
    height: 2em;
    width: 4em;
    border: solid;
    color: black;
    
}
.back1{
    height: 2em;
    width: 4em;
    border: solid;
    color: black;
    
}
.site1{
    margin-left: 0;
}